* {
    box-sizing: border-box;
}

.Plane {
    text-align: center;
    display: grid;
    grid-template-columns: 4fr 5fr 5fr 5fr 10fr 5fr 5fr 5fr 4fr;
}

.Cell {
    border: 1px solid grey;
    height: 50px;
}

.seat {
    background-color: rgba(255, 127, 80, 0.735);
}

.entrance {
    background-color: rgb(116, 195, 221);
}

.aisle {
    background-color: rgba(80, 255, 229, 0.378);
} 

.wall {
    background-color: purple;
}

.player {
    /* border: 3px solid yellow; */
    background-color: yellow;
}