* {
    border: 4px solid grey;
    box-sizing: border-box;
}

.Plane {
    text-align: center;
    display: grid;
    grid-template-columns: 4fr 5fr 5fr 5fr 10fr 5fr 5fr 5fr 4fr;
}

.Cell {
    border: 1px solid rgb(255, 255, 255);
    height: 50px;
}

.seat {
    background-color: rgba(255, 98, 80, 0.577);
}

.entrance {
    background-color: rgb(116, 195, 221);
}

.aisle {
    background-color: rgba(80, 255, 229, 0.378);
} 

.wall {
    background-color: rgba(45, 0, 128, 0.769);
    color: white;
}

.exit {
    background-color: rgba(116, 195, 221);
}

.galley {
    background-color: rgba(80, 255, 229, 0.378);
}

.player {
    /* border: 3px solid yellow; */
    background-color: yellow;
}

